/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eef1fb;
}

.container{
  width: 17%;
  background-color: white;
  padding: 42px 34px;
  margin: auto;
  transform: translateY(100px);
  color: #061949;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
  border: 2px solid #061949;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px 0px;
}
.header-content{
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
h2{
  margin: 0;
  font-size: 20px;
}
p{
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

label{
  font-size: 16px;
}
.full-time, .projects{
  width: 30px;
  height: 30px;
}

.full-time-content, .projects-content{
  display: flex;
  align-items: center;
  gap: 0px 8px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 12px 0px;
}

.btn {
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
}
.done-btn,
.cancel-btn {
  width: 50%;
  height: 44px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.done-btn {
  color: white;
  background-color: #061949;
  border: 1px solid #061949;
}
.cancel-btn {
  color: #061949;
  background-color: #eef1fb;
  border: 1px solid #eef1fb;
}
