@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*{
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    box-sizing: border-box;
}
.container{
    width: 22%;
   padding: 80px;
   display: flex;
   margin: auto;
   flex-direction: column;
   gap: 42px 0px;
   background-color: #ffc148;
   border: 20px solid #ffce6d; 
   border-radius: 42px;
   transform: translateY(50%);
}

h2{
    font-family: "Merriweather";
    font-weight: bold;
    font-size: 24px;
    color: #141140;
}
.user-content{
    display: flex;
    flex-direction: column;
    gap:16px 0px ;
}
.users{
    width: 90%;
    display: flex;
    gap: 0px 10px;
    padding: 16px;
    background-color: #ffce6d;
    border: 1px solid #ec9f09;
    border-radius: 4px;
}
.users::placeholder{
    font-size: 16px;
    font-family: "Poppins";
}
/* .users{
    width: 100%;
    padding:16px;
    background-color: none;
} */
/* .search-icon{
    width: 50px;
    display: flex;
    justify-content: center;
    align-self: center;
} */
.user-details{
    display: flex;
    flex-direction: column;
    gap: 4px 0px;
}
.card{
 display: flex;
 gap: 0px 12px;
 padding: 16px;
 align-items: center;
}
.card:nth-child(2){
    background-color: #FF9548;
    border-radius: 8px;
}
h3{
    color: #141140;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
}